<div class="flex_cards">
    <div class="overlay_black"  v-show="showFilterDropdown"></div>


    <!-- //NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR -->

    <div class="flex_cards_1">
      <div class="navigation-buttons">
        <div class="class_navbar_conteiner">
          <img src="../../assets/img/logo_1.png" alt="" />
          <div style="display: flex; align-items: center" class="btn_btn_btn">
            <button @click="goBack" :disabled="isBackDisabled">
              <svg
                width="30px"
                height="30px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6 12H18M6 12L11 7M6 12L11 17"
                  stroke="#000000"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            <p style="padding: 0 1rem">
              Page {{ currentPage }} of {{ Math.ceil(totalImages / 6) }}
            </p>
            <button @click="goForward" :disabled="isForwardDisabled">
              <svg
                width="30px"
                height="30px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6 12H18M18 12L13 7M18 12L13 17"
                  stroke="#000000"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <p class="p_p">|||</p>
        </div>
      </div>
    </div>


    <!-- //NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR//NAVBARNAVBAR -->

   
    <div class="flex_card_i">

      <!-- //SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH -->
      <div class="search-container">
        <!-- Search Box -->
        <div class="search-box">
          <input
            class="search-input"
            v-model="searchQuery"
            placeholder="Search..."
          />
        
          <div class="input_btn_search">
          
            <button @click="showFilterDropdown = !showFilterDropdown">
              FILTERS
            </button>
            <b style="margin:auto 0.4rem auto 0.1rem;font-weight:100;font-size:1.5rem;transform: rotate(45deg);color:rgb(42, 177, 255);height:auto;" v-show="showFilterDropdown">+</b>
            <button class="search-btn" @click="startSpeechRecognition">
  <svg
    :class="{ 'recording': isRecording }"
    width="24px"
    height="24px"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
                <path
                  d="M19 10V12C19 15.866 15.866 19 12 19M5 10V12C5 15.866 8.13401 19 12 19M12 19V22M8 22H16M12 15C10.3431 15 9 13.6569 9 12V5C9 3.34315 10.3431 2 12 2C13.6569 2 15 3.34315 15 5V12C15 13.6569 13.6569 15 12 15Z"
                  stroke="#483838"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>

        <!-- Filters Dropdown -->
        <div class="filters-dropdown" v-show="showFilterDropdown">
          <div class="slide_show_on_off_filters">
            <!-- Category Filter -->
            <div class="filter-category">
              <button
                @click="selectedCategory = ''"
                style="background-color: rgb(255, 124, 31)"
              >
                All Categories
              </button>
              <button
                v-for="category in uniqueCategories"
                :key="category"
                @click="selectedCategory = category"
                :class="{ active: selectedCategory === category }"
              >
                {{ category }}
              </button>
            </div>

            <!-- Status Filter -->
            <div class="filter-status">
              <button
                @click="selectedStatus = ''"
                style="background-color: rgb(255, 249, 62)"
              >
                All Statuses
              </button>
              <button
                v-for="status in uniqueStatuses"
                :key="status"
                @click="selectedStatus = status"
                :class="{ active: selectedStatus === status }"
              >
                {{ status }}
              </button>
            </div>

            <!-- Species Filter -->
            <div class="filter-species">
              <button
                @click="selectedSpecies = ''"
                style="background-color: rgb(127, 234, 33)"
              >
                All Species
              </button>
              <button
                v-for="species in uniqueSpecies"
                :key="species"
                @click="selectedSpecies = species"
                :class="{ active: selectedSpecies === species }"
              >
                {{ species }}
              </button>
            </div>

            <!-- Advanced Sorting -->
            <div class="sort-container">
              <select v-model="sortOption">
                <option value="">Sort by...</option>
                <option value="datePublished">Publication Date</option>
                <option value="views">Views</option>
                <option value="likes">Likes</option>
                <option value="comments">Comments</option>
              </select>
            </div>

            <!-- Date Range Selector -->
            <div class="date-range">
              <input
                type="date"
                v-model="startDate"
                :min="minDate"
                :max="endDate"
              />
              <input
                type="date"
                v-model="endDate"
                :min="startDate"
                :max="maxDate"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- //SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH//SEARCH -->

      <!-- //CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD -->
      <!-- Cards Display -->
      <div class="card_cotainer_top">
        
        <transition-group name="shuffle" tag="div" class="cards-container">

          <div v-for="item in paginatedData" :key="item.id" class="card">
            <img :src="getImagePath(item.img)" class="card-image" />
            <div style="padding: 0.4rem 0 0 0.6rem">
              <h2 class="card-title">{{ item.title }}</h2>
              <b style="font-size: 12px">{{ item.category }}</b>
              <div
                style="
                  padding: 0px 12px;
                  background-color: rgb(181, 228, 171);
                  border-radius: 98px;
                  width: 70px;
                  display:flex;
                  justify-content:center;
                  align-items:center;
                  margin: 8px 0;
                  font-size:0.8rem;
                  border: 1px solid rgb(228, 228, 228);
                "
              >
                {{ item.status }}
              </div>
              <p class="card-description">{{ item.description }}</p>

              <!-- Display statistics related to sorting -->
              <div class="stats">
                <p class="date-published">
                  <i class="fas fa-calendar-alt"></i> {{ item.datePublished }}
                </p>
                <p class="views">
                  <i class="fas fa-eye"></i> {{ item.views }} views
                </p>
                <p class="likes">
                  <i class="fas fa-thumbs-up"></i> {{ item.likes }} likes
                </p>
                <p class="comments">
                  <i class="fas fa-comment"></i> {{ item.comments }} comments
                </p>
              </div>
            </div>
          </div>
        </transition-group>
      </div>

      <!-- //CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD//CARD -->

    </div>
  </div>